p {
  font-size: small;
  margin: 3px;
}
@media screen and (max-width: 380px) {
  summary {
    font-size: 13px;
  }
}
details {
  margin-top: 5px;
  background-color: lightyellow;
  color: darkblue;
}
