.collapse-button {
    background: darkblue;
    color: white;
    width: 200px;
    border-radius: 0px;
}

.top {
    margin-top: 10px;
}

.collapse {
    transition: height 1000ms;
    width: 200px;
    overflow: hidden;
}

.item {
    color: black;
    background-color: rgba(197, 197, 197, 0.493);
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.open {
    height: fit-content;
}

.close {
    height: 0;
}