.button {
  color: white;
  border-radius: 10rem;
  background-color: black;
  padding: 0.9rem 2rem;
  font-size: 10px;
}
.xicon {
  font-size: 18px;
  margin-right: 6px;
  vertical-align: text-bottom;
}
.xbutton {
  margin: 30px 0px;
}
